#root {
  font-family: "Roboto";
  font-style: normal;
}

.chart-ctn {
  margin: 0 auto;
}

.parliament-chart>circle {
  transition: all 0.2s;
}

.chart-legend-ctn {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  align-self: center;
  z-index: 999;
  justify-content: center;
  margin-top: -17px;
}

.legend-item {
  background: none;
  border-radius: 9px;
  display: flex;
  padding: 6px 12px;
  align-items: center;
  gap: 8px;
  font-size: 12px;
}

.legend-item-party-text {
  margin: 0;
}

.legend-item-party-seats-qty {
  font-weight: 500;
}

.total-seats-ctn {
  position: absolute;
  top: 60%;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  display: flex;
  flex-direction: column;
}

.total-seats-value {
  color: #1f1f1f;
  text-align: center;
  font-size: 22px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 700;
  line-height: 130%;
}

.total-seats-text {
  color: #3b3b3b;
  text-align: center;
  font-size: 12px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  line-height: 130%;
}

@media screen and (min-width: 520px) {
  .total-seats-ctn {
    top: 65%;
  }
}

@media screen and (min-width: 577px) {
  .total-seats-ctn {
    top: 60%;
  }

  .total-seats-value {
    font-size: 42px;
  }
}

@media screen and (min-width: 768px) {
  .total-seats-ctn {
    top: 60%;
  }

  .total-seats-value {
    font-size: 62px;
  }
}

@media screen and (min-width: 992px) {
  .chart-legend-ctn {
    margin-top: -54px;
    /* max-width: 570px; */
  }

  .total-seats-ctn {
    top: 59%;
  }

  .total-seats-value {
    font-size: 80px;
  }

  .total-seats-text {
    font-size: 22px;
  }
}