#root {
  font-family: 'Roboto';
  font-style: normal;
}

.chart-ctn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
}

.parliament-chart > circle {
  transition: all 0.2s;
}

.container {
  position: relative;
  padding: 14px;
}

.border {
  height: 75%;
  width: 100%;
  border: 4px solid #b2b2b2;
  position: absolute;
  top: 0;
  left: 0;
  border-bottom: none;
  border-top-left-radius: 511px;
  border-top-right-radius: 511px;
  box-sizing: border-box;
}

.chart-legend-ctn {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  align-self: center;
  z-index: 999;
  justify-content: center;
}

.legend-item {
  background: none;
  border-radius: 9px;
  display: flex;
  padding: 6px 12px;
  align-items: center;
  gap: 8px;
  font-size: 12px;
  line-height: 130%;
  font-weight: 300;
}

.legend-item-party-text {
  margin: 0;
}

.legend-item-party-seats-qty {
  font-weight: 500;
}

.total-seats-ctn {
  position: absolute;
  top: 60%;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  display: flex;
  flex-direction: column;
}

.total-seats-value {
  color: #1f1f1f;
  text-align: center;
  font-size: 22px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 700;
  line-height: 130%;
}

.total-seats-text {
  color: #3b3b3b;
  text-align: center;
  font-size: 12px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  line-height: 130%;
}

@media screen and (min-width: 520px) {
  .total-seats-ctn {
    top: 65%;
  }
}

@media screen and (min-width: 577px) {
  .container {
    padding: 20px;
  }

  .border {
    height: 77%;
    border: 7px solid #b2b2b2;
    border-bottom: none;
  }

  .total-seats-ctn {
    top: 60%;
  }

  .total-seats-value {
    font-size: 42px;
  }
}

@media screen and (min-width: 768px) {
  .total-seats-ctn {
    top: 60%;
  }

  .total-seats-value {
    font-size: 62px;
  }
}

@media screen and (min-width: 992px) {
  .chart-legend-ctn {
    margin-top: -66px;
    max-width: 570px;
  }

  .total-seats-ctn {
    top: 59%;
  }

  .total-seats-value {
    font-size: 80px;
  }

  .total-seats-text {
    font-size: 22px;
  }

  .border {
    height: 78%;
  }

  .legend-item {
    font-size: 14px;
  }
}
